# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Bun
.bunfig.toml.bak
bun.lockb.bak

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
Thumbs.db
.DS_Store
